/* mulish-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/mulish-v13-latin-300.woff2") format("woff2");
}
/* mulish-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v13-latin-regular.woff2") format("woff2");
}
/* mulish-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/mulish-v13-latin-600.woff2") format("woff2");
}
/* mulish-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v13-latin-700.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.site-header {
  padding-top: 56px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
}

.site-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__logo {
  width: 160px;
  height: 41px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.site-header__item-link {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  opacity: 0.5;
  color: #1f1534;
}
.site-header__item-link:active {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-header__menu-logo {
  display: none;
}

.site-header__mobile {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 56px 20px;
  overflow-y: scroll;
  background: #458ff6;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.site-header__mobile-key {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-header__mobile-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__mobile-trafalgar {
  width: 130px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 4px 5px;
  padding-bottom: 0;
  border-radius: 27px;
  background: #fff;
}

.site-header__mobile-list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.site-header__mobile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.site-header__mobile-item-link {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  opacity: 0.5;
  color: #1f1534;
  color: #fff;
  opacity: 1;
}
.site-header__mobile-item-link:hover {
  color: #f00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-header__mobile-item i {
  margin-top: 4px;
}

@media only screen and (max-width: 900px) {
  .site-header__logo {
    width: 130px;
  }
  .site-header__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .site-header__item-link {
    font-size: 16.5px;
  }
}
@media only screen and (max-width: 740px) {
  .site-header__list {
    display: none;
  }
  .site-header__menu-logo {
    display: inline-block;
  }
  .site-header {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}
.hero {
  margin-top: 136px;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 109px;
     -moz-column-gap: 109px;
          column-gap: 109px;
  padding-top: 40px;
  padding-bottom: 192px;
}
.hero__block::before {
  content: "";
  width: 131.581px;
  height: 115px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../images/element.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 186px;
  left: 0;
}

.hero__content {
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.hero__content-title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000;
}

.hero__content-text {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  padding-bottom: 20px;
}

.hero__content-btn {
  width: 200px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 18px;
  padding: 15.6px 39.8px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #fff;
  color: #458ff6;
  border: 1.4px solid transparent;
  background: #458ff6;
  color: #fff;
}
.hero__content-btn:hover {
  border: 1.4px solid #458ff6;
  background: #fff;
  color: #458ff6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__img {
  max-width: 693px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 1255px) {
  .hero__block {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
  .hero__block::before {
    display: none;
  }
  .hero__img {
    max-width: 580px;
  }
}
@media only screen and (max-width: 1103px) {
  .hero__content {
    max-width: 380px;
  }
  .hero__content-title {
    font-size: 37px;
  }
  .hero__content-text {
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 10px;
  }
  .hero__img {
    max-width: 500px;
  }
}
@media only screen and (max-width: 930px) {
  .hero__block {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
  .hero__content {
    max-width: 288px;
    row-gap: 20px;
  }
  .hero__content-title {
    font-size: 32px;
  }
  .hero__img {
    max-width: 450px;
  }
}
@media only screen and (max-width: 845px) {
  .hero__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 70px;
  }
  .hero__content {
    max-width: 445px;
    row-gap: 25px;
  }
  .hero__content-title {
    font-size: 48px;
  }
  .hero__content-text {
    font-size: 21px;
    line-height: 32px;
    padding-bottom: 20px;
  }
  .hero__img {
    max-width: 650px;
  }
}
@media only screen and (max-width: 740px) {
  .hero__img {
    max-width: 580px;
  }
}
@media only screen and (max-width: 620px) {
  .hero__block {
    row-gap: 50px;
  }
  .hero__content {
    max-width: 380px;
    margin: 0 auto;
  }
  .hero__content-title {
    font-size: 40px;
  }
  .hero__img {
    max-width: 500px;
  }
}
@media only screen and (max-width: 400px) {
  .hero__block {
    row-gap: 30px;
    padding-top: 0;
    padding-bottom: 70px;
  }
  .hero__content-title {
    font-size: 35px;
  }
  .hero__content-btn {
    font-size: 17.8px;
  }
}
@media only screen and (max-width: 360px) {
  .hero__block {
    row-gap: 40px;
  }
  .hero__content-title {
    font-size: 30px;
  }
  .hero__content-text {
    font-size: 19px;
    line-height: 34px;
  }
}
.services {
  margin-bottom: 220px;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__content {
  max-width: 968px;
  margin: 0 auto;
  text-align: center;
}

.services__content-title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000;
  font-size: 36px;
}

.services__content-line {
  width: 56px;
  height: 2px;
  margin: 26px auto 33px auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  background: #000;
}

.services__content-text {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  font-size: 18px;
  line-height: 30px;
}

.services__list {
  margin: 80px 0 72px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 37px 35px;
}

.services__item {
  max-width: 350px;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}
.services__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.services__item:hover .services__item-title {
  color: #fff;
}
.services__item:hover .services__item-text {
  color: #fff;
  opacity: 0.9;
}

.services__item:first-child {
  padding: 54px 45px 46px 39px;
}
.services__item:first-child .services__item-title {
  margin-top: 22.41px;
}
.services__item:first-child::before {
  content: "";
  width: 91.978px;
  height: 90px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../images/search-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.services__item:nth-child(2) {
  padding: 62px 52px 47px 37px;
}
.services__item:nth-child(2) .services__item-title {
  margin-top: 19.41px;
}
.services__item:nth-child(2)::before {
  content: "";
  width: 61.857px;
  height: 85px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../images/pharmacy-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.services__item:nth-child(3) {
  padding: 47px 50px 47px 39px;
}
.services__item:nth-child(3) .services__item-title {
  margin-top: 24.41px;
}
.services__item:nth-child(3)::before {
  content: "";
  width: 67.292px;
  height: 95px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../images/consultation-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.services__item:nth-child(4) {
  padding: 46px 50px 47px 38px;
}
.services__item:nth-child(4) .services__item-title {
  margin-top: 25.41px;
}
.services__item:nth-child(4)::before {
  content: "";
  width: 67.075px;
  height: 95px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../images/details-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.services__item:nth-child(5) {
  padding: 59px 45px 46px 39px;
}
.services__item:nth-child(5) .services__item-title {
  margin-top: 36.25px;
}
.services__item:nth-child(5)::before {
  content: "";
  width: 80px;
  height: 71.155px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../images/emergency-care-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.services__item:last-child {
  padding: 52px 50px 75px 39px;
}
.services__item:last-child .services__item-title {
  margin-top: 19.41px;
}
.services__item:last-child::before {
  content: "";
  width: 69.422px;
  height: 95px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../../images/tracking-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.services__item-title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000;
  font-size: 24px;
  margin-bottom: 1px;
}

.services__item-text {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  font-size: 16px;
  line-height: 28px;
}

.services__btn {
  width: 200px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 18px;
  padding: 15.6px 39.8px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #fff;
  color: #458ff6;
  text-align: center;
}
.services__btn:hover {
  border-color: transparent;
  background: #458ff6;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 400px) {
  .services__content-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 360px) {
  .services__content-title {
    font-size: 27px;
  }
  .services__item-title {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */