.article {
  margin-bottom: 202px;
}
.article__block {
  margin: 0 auto;
  text-align: center;
}
.article__title {
  @include title;
  font-size: 36px;
}
.article__line {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  margin: 26px auto 79px auto;
  border-radius: 5px;
  background: $black;
}
.article__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 70px 35px;
  margin-bottom: 72px;
}
.article__item {
  max-width: 350px;
  padding-bottom: 35px;
  border-radius: 20px;
  text-align: start;
  box-shadow: 10px 40px 50px 0px $services-item-box-shadow;
  background: $white;
  &:hover {
    box-shadow: none;
    transition: 0.3s;
  }
}
.article__item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 25px;
}
.article__item-title {
  @include title;
  font-size: 21px;
  line-height: 32px;
  padding: 0 50px 12px 33px;
}
.article__item-text {
  @include text;
  font-size: 16px;
  line-height: 28px;
  padding: 0 50px 25px 33px;
}
.article__item-link {
  @include title;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  padding: 0 50px 0 33px;
  color: $blue;
  &::after {
    content: "";
    width: 14.143px;
    height: 9px;
    flex-shrink: 0;
    margin-left: 10px;
    vertical-align: middle;
    background-image: url("../../images/right-arrow-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
  }
}
.article__btn {
  @include btn;
  &:hover {
    background: $blue;
    color: $white;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 501px) {
  .article__title {
    font-size: 34px;
  }
}
@media only screen and (max-width: 400px) {
  .article {
    margin-bottom: 90px;
  }
  .article__list {
    row-gap: 50px;
  }
  .article__title {
    font-size: 30px;
  }
  .article__line {
    margin: 30px auto 70px auto;
  }
}
@media only screen and (max-width: 360px) {
  .article__list {
    row-gap: 40px;
  }
  .article__title {
    font-size: 27px;
  }
}
