.testimonials {
  margin-bottom: 222px;
}
.testimonials__block {
  max-width: 1120px;
  margin: 0 auto 42px auto;
  padding: 64px 20px;
  border-radius: 24px;
  background: linear-gradient(208deg, $blue 9.05%, $blue 76.74%);
}
.testimonials__title {
  @include title;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: $white;
}
.testimonials__line {
  width: 56px;
  height: 2px;
  margin: 25px auto 66px auto;
  flex-shrink: 0;
  border-radius: 6px;
  background: $white;
}
.testimonials__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.testimonials__item:first-child {
  display: flex;
  align-items: center;
  column-gap: 29px;
}
.testimonials__item-img {
  width: 133px;
  height: 133px;
  flex-shrink: 0;
}
.testimonials__item-content-title {
  @include title;
  font-size: 22px;
  line-height: 48px;
  color: $white;
}
.testimonials__item-content-text {
  @include text;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
}
.testimonials__item-text {
  @include text;
  max-width: 420px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}
.testimonials__icon {
  max-width: 336px;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .testimonials__line {
    margin: 50px auto;
  }
  .testimonials__list {
    flex-direction: column;
    row-gap: 70px;
  }
  .testimonials__item:first-child {
    column-gap: 70px;
  }
  .testimonials__item-text {
    max-width: 500px;
  }
}
@media only screen and (max-width: 605px) {
  .testimonials__title {
    font-size: 33px;
  }
  .testimonials__item:first-child {
    column-gap: 50px;
  }
  .testimonials__item-text {
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  .testimonials__list {
    row-gap: 50px;
  }
  .testimonials__item:first-child {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media only screen and (max-width: 400px) {
  .testimonials {
    margin-bottom: 90px;
  }
  .testimonials__block {
    padding: 50px 10px;
  }
  .testimonials__title {
    font-size: 30px;
  }
  .testimonials__list {
    row-gap: 30px;
  }
  .testimonials__item-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 360px) {
  .testimonials__title {
    font-size: 27px;
  }
  .testimonials__item:first-child {
    row-gap: 30px;
  }
}
@media only screen and (max-width: 310px) {
  .testimonials__title {
    font-size: 25px;
  }
}
